# Slack
MANAGER_SLACK_BOT_TOKEN=your-manager-slack-bot-token

# Supabase
SUPABASE_URL=your-supabase-url
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key
SUPABASE_ANON_KEY=your-supabase-anon-key

# ComfyUI 배경 제거 API URL
CHUGUME_API_URL=your-chugume-api-url

# ComfyUI API Key
CHUGUME_API_KEY=x-chugume-api-key

# Playwright API Server Configuration
# Docker 또는 외부 서비스의 Playwright API 서버 URL
PLAYWRIGHT_API_URL=your-Playwright-api-url

# slack
SLACK_BOT_TOKEN=your-slack-bot-token
SLACK_CHANNEL_ID=your-slack-channel-id
ALERT_SLACK_CHANNEL_ID=your-alert-slack-channel-id

# Gemini
GEMINI_API_KEY=your-gemini-api-key
